<a href="https://colab.research.google.com/github/aryajayankanichayi/python-learning/blob/main/02_Coditions_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Conditions


*   if conditon

Even Number

In [2]:
x=8
r=x%2
if r==0:
    print("Even")

Even

if - else condition

In [3]:
x=8
r=x%2
if r==0:
    print("Even")
else:
    print("Odd")

Even

Nested if

In [5]:
x=8
r=x%2
if r==0:
    print("Even")
    if x>5:
      print("Greater")
    else:
      print("lesser")

Even
Greater

elif

In [6]:
x=2
if x==1:
  print("One")
elif(x==2):
  print("Two")
else:
  print("wrong input")

Two

Check the given number is positive or negative

In [10]:
x=int(input("enter the number:"))
if x%2==0:
  print("positive")
else:
  print("Negative")

enter the number:357
Negative

Input three numbsers from user and find the greatest amoung them

In [12]:

  x=int(input("enter 1st number:"))
  y=int(input("enter 2nd number:"))
  z=int(input("enter 3rd number:"))
  if x>y and x>z:
    print("x is greater")
  elif y>x and y>z:
    print("y is greater")
  else:
    print("z is greater")

enter 1st number:25
enter 2nd number:67
enter 3rd number:123
z is greater

Loops


*   While loop
*   Nested while loop
*   For loop

While Loop
*  Print "Hello" five times

In [13]:
i=1
while  i<=5:
  print("Hello")
  i=i+1

Hello
Hello
Hello
Hello
Hello

Nested while loop

In [19]:
i=1
while i<5:
  print("Hello ",end="")
  j=1
  while j<=4:
    print("World ",end="")
    j=j+1
  i=i+1
  print()

Hello World World World World
Hello World World World World
Hello World World World World
Hello World World World World

For Loop

In [1]:
x='Priya'
for i in x:
  print(i)

P
r
i
y
a

In [3]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

Print Odd numbers between 1 to 20

Range

In [4]:
for i in range(1,20,2):
  print(i)

1
3
5
7
9
11
13
15
17
19

Print perfect square numbers between 1 and 200

In [5]:
import math as m
#Loop through numbers from 1 to 200
for num in range(1,201):
#Check if the square root of the number is an integer
  if m.isqrt(num)**2==num:
    print(num)

1
4
9
16
25
36
49
64
81
100
121
144
169
196

Keywords:

*   Break
*   Continue
*   Pass

Break

In [6]:
available = 5
x = int(input("Number of candies you want:"))
i=1
while i<=x:
  if i>available:
    print("Out of stock")
    break
  print("Candy")
  i=i+1

Number of candies you want:8
Candy
Candy
Candy
Candy
Candy
Out of stock

Continue

Print all numbers from 1 to 30 which are perfect squares and are not the multiple of 3 and 5

In [38]:
import math as m
#Loop through numbers from 1 to 10
for num in range(1,30):
#Check if the square root of the number is an integer
  if m.isqrt(num)**2==num:
#Check if num is multiple of 3 and 5
     if num%3==0 or num%5==0:
        continue
     print(num)

1
4
16

Pass

In [39]:
for i in range(1,10):
  if i%2!=0:
    pass
  else:
    print(i)

2
4
6
8