<a href="https://colab.research.google.com/github/aryajayankanichayi/python-learning/blob/main/03_Arrays.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Arrrays in Python

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
print(vals)

array('i', [5, 9, 8, 4, 2])

buffer_info()
     -> returns address and array size

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
print(vals.buffer_info())

(135023982061968, 5)

typecode -> returns type of the code your working with

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
print(vals.typecode)

i

reverse()-> to reverse the array

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
vals.reverse()
#print(vals)

array('i', [2, 4, 8, 9, 5])

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
vals.reverse()
for i in range(5):
  print(vals[i])

2
4
8
9
5

len()->to get the length

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
#vals.reverse()
for i in range(len(vals)):
  print(vals[i])

5
9
8
4
2

Create new array with the squares of values in vals

In [ ]:
from array import *
vals=array('i',[5,9,8,4,2])
newArray=array(vals.typecode,(a*a for a in vals))
for i in newArray:
  print(i)

25
81
64
16
4

Sort an array in ascending order

In [6]:
from array import *
arr=array('i',[25,55,32,1,6,8,34,5])
sort=sorted(arr)
print(sort)

[1, 5, 6, 8, 25, 32, 34, 55]

Find the factorial of the given number

In [8]:
import math as m
a = int(input("enter the number:"))
print("factorial is:",m.factorial(a))

enter the number:5
factorial is: 120

Inserting values to an array

In [9]:
from array import *
arr = array('i',[])
n= int(input("enter the length of array:"))
for i in range(n):
  x=int(input("enter the value:"))
  arr.append(x)
print(arr)

enter the length of array:5
enter the value:12
enter the value:13
enter the value:5
enter the value:6
enter the value:2
array('i', [12, 13, 5, 6, 2])