<a href="https://colab.research.google.com/github/aryajayankanichayi/python-learning/blob/main/07_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Function creation

1.   Define function

*   syntax:def <function_name>:
                statement1
                statement2

2.   Call the function

*   to execute a function you need to call the function explicitly.

Example

In [ ]:
def greetings():
  print("Good Morning")
greetings()

Good Morning

Addition of two numbers

In [ ]:
def add():
  sum=num1 + num2
  print("Sum is:",sum)
num1 = int(input("enter the 1st number:"))
num2 = int(input("enter the 2nd number:"))
add()

enter the 1st number:5
enter the 2nd number:10
Sum is: 15

Function returning single value

In [ ]:
def add(x,y):
  z=x + y
  return z
result=add(10,5)
print("result=",result)

result= 15

Returning two values

In [ ]:
def add_sub(x,y):
  z=x + y
  d=x-y
  return z,d
result1,result2=add_sub(10,5)
print("result1 =",result,"result2 =",result2)

result1 = 15 result2 = 5

Function Arguments

*   Niether pass by value nor pass by reference is used in python
*   It passes references to object.

Types of Arguments:

*   Position
*   Keyword
*   Default
*   Variable Length

Position

In [ ]:
def person(name,age):
  print(name)
  print(age)
person("Teena",20)

Teena
20

Keyword - if don't know the sequence of the arguments

In [ ]:
def person(name,age):
  print(name)
  age =age+5
  print(age)
person(age=20,name="Teena")

Teena
25

Default - If we are not passing a specific age ,we can set a default value as age and use it.

In [ ]:
def person(name,age=18):
  print(name)
  print(age)
person("Teena")

Teena
18

If we pass value of age ,it will overwrite the default value

In [ ]:
def person(name,age=18):
  print(name)
  print(age)
person("Teena",25)

Teena
25

Variable Length - to pass multiple values as arguments.
here,the no.of of arguments are not fixed.We pass arguments as tuple

In [ ]:
def sum(*b):
  c=0
  for i in b:
    c=c+i
  print(c)
sum(5,6,34,78)

123

**kwargs - passing multiple arguments with the help of keywords.

In [ ]:
def person(name,**data):
   print(name)
   print(data)
person("Teena",age=20,state="kerala",phone=123456789)

Teena
{'age': 20, 'state': 'kerala', 'phone': 123456789}

In [ ]:
def person(name,**data):
   print(name)
   for i,j in data.items():
      print(i,j)
person("Teena",age=20,state="kerala",phone=123456789)

Teena
age 20
state kerala
phone 123456789

Global keyword

*   global variable - variable defined outside the function.it can be accessed  globaly.it has higher preference.
*   Local variable - difined inside a function.scope limited to the function.

In [ ]:
a=10        #global variable
def variable():
  a=5       #local variable
  print("in fun:",a)
variable()
print("out fun:",a)

in fun: 5
out fun: 10

To use local variable as global variablel ,specify it by using a global keyword

In [ ]:
a=10     #global variable
def variable():
  global a
  a=5    #local variable
  print("in fun:",a)
variable()
print("out fun:",a)

in fun: 5
out fun: 5

Passing list to function

In [23]:
def count(list):
    even = 0
    odd = 0
    for i in list:
      if i%2==0:
        even += 1
      else:
        odd += 1
    return even,odd
list=[1,2,3,4,5,6,7]
even,odd = count(list)
print("Even : {} and Odd : {}".format(even,odd))

Even : 3 and Odd : 4